body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Karla';
    font-size: 18px;
    background: linear-gradient(270deg, rgba(171,98,221,1) 0%, rgba(255,44,44,1) 50%, rgba(245,173,73,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-zone{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.575);
    border-radius: 8px;
    padding: 25px;
    margin: 15px 10px 0px 10px;
    width: 750px;
    height: fit-content;
}

.bold{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

.input, .output{
    display: flex;
    align-items: center;
}

.matrix-span{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.margin-span{
    display: flex;
    margin: auto;
    margin-right: 50px;
}

.matrix-checkbox{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
    appearance: none;
    cursor: pointer;
    margin-left: 10px;
}

.matrix-checkbox:checked{
    background-color: rgb(53, 224, 53);
    border: none;
}

#encrypt-button{
    height: 40px;
    width: 200px;
    font-size: 18px;
    border-radius: 30px;
    font-family: 'Karla';
}

#encrypt-button:hover{
    background: linear-gradient(270deg, rgba(171,98,221,1) 0%, rgb(255, 66, 66) 50%, rgba(245,173,73,1) 100%);;
}

.style-button{
    justify-content: center;
}

#text-to-encrypt, #encryption-key, #matrix-key{
    height: 30px;
    width: 450px;
    margin-left: auto;
    font-family: 'Karla';
    font-size: 18px;
    border-radius: 5px;
}

#table{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.575);
    border-radius: 8px;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    margin-top: 30px;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.output-square{
    height: 30px;
    width: 15px;
}

.square, .cipher-square, .nothing-square{
    padding: 20px;
    margin: auto;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.507);
    border-radius: 8px;
    width: 15px;
    height: 26px;
    text-align: center;
}