body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Karla';
    font-size: 18px;
    background: linear-gradient(90deg, rgba(252, 252, 103, 0.945) 0%, rgba(35, 255, 71, 0.658) 70%);
}

#header{
    text-align: center;
}

#header h1, #header h3{
    margin: 10px;
}

#language-choice p{
    margin-top: 5px;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input, .output{
    display: flex;
    align-items: center;
}

#language-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#language-background{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 8px;
}

.language{
    border: none;
    background-color: transparent;
    height: 45px;
    width: 34px;
    font-size: 18px;
    padding: 0;
    font-family: 'Karla';
}

.language:nth-child(1):focus{
    background-color: green;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 6px;
}

.language:nth-child(3):focus{
    background-color: red;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#half-border{
    border: solid 1px rgb(0, 0, 0);
}

#text-to-encrypt, #encryption-key{
    height: 30px;
    width: 450px;
    margin-left: 10px;
    font-family: 'Karla';
    font-size: 18px;
    border-radius: 5px;
}

#encrypt-button{
    height: 40px;
    width: 200px;
    font-size: 18px;
    border-radius: 30px;
    font-family: 'Karla';
}

#table{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.575);
    border-radius: 8px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.square{
    padding: 20px;
    margin: auto;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.507);
    border-radius: 8px;
}

#encrypted-text{
    margin-left: 10px;
}